<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->

<html>
<head>
    <% include partials/template/head.ejs %>
</head>
<body>
<% include partials/template/header.ejs %>
<p>Create Race!</p>
<% include partials/template/footer.ejs %>
<% include partials/template/jsdefaults.ejs %>
</body>
</html>