<!DOCTYPE html>
<html>
<head>
    <% include partials/template/head.ejs %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-bootstrap-datetimepicker/1.0.1/css/datetimepicker.min.css">
</head>
<body ng-app="app" ng-controller="createControler">
<% include partials/template/header.ejs %>
<div class="container-fluid">
    <% if(isCreating){%>
    <h3>Create Activity</h3>
    <% } else {%>
    <h3>Edit Activity</h3>
    <%}%>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">

            <div class="row">
                <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12">
                    <div class="form-group">
                        <label for="type">Type:</label>
                        <div class='input-group' id='type'>
                            <select class="form-control" id="type" ng-model="activity.activityType">
                                <option value="group_ride">Group Ride</option>
                                <option value="race">Race</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" ng-model="activity.name">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" rows="5" id="description" ng-model="activity.description"></textarea>
            </div>
            <div class = "row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="startTime">Start Time:</label>
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="startTimeDropDown" role="button" data-toggle="dropdown" data-target="#" href="#">
                                <div class="input-group"><input type="text" class="form-control" data-ng-model="activity.startTime | date: 'short' "><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="activity.startTime" data-datetimepicker-config="{ dropdownSelector: '#startTimeDropDown' }"/>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="endTime">End Time:</label>
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="endTimeDropDown" role="button" data-toggle="dropdown" data-target="#" href="#">
                                <div class="input-group"><input type="text" class="form-control" data-ng-model="activity.endTime | date: 'short' "><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="activity.endTime" data-datetimepicker-config="{ dropdownSelector: '#endTimeDropDown' }"/>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class = "row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="privacy">Privacy:</label>
                        <div class='input-group' id='privacy'>
                            <select class="form-control" id="privacy" ng-model="activity.privaicy">
                                <option value="public">Public</option>
                                <option value="friends">Only Friends</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="maxParticipants">Maximum number of participants:</label>
                        <input type="number" class="form-control" id="name" ng-model="activity.maxParticipants" min="2" max="100">
                    </div>
                </div>
            </div>

            <div class="well">
                <label>Categories:</label>
                <div ng-if="activity.categories.length !== 0">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="category in activity.categories">
                            <td style="vertical-align:center">{{category.name}}</td>
                            <td><a ng-click="deleteCategory(category)"> <span class="glyphicon glyphicon-remove-circle"></span>
                            </a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-if="activity.categories.length === 0">
                    <p style="color: red">No catagories, You must have at least one catagory</p>
                </div>
                <button class="btn btn-default" data-toggle="modal" data-target="#addCategoryDialog" ng-click="showAddCategory()">Add Catagory</button>
            </div>

        </div>
        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
            <div class="well">
                <label ng-if="activity.routeId">Route:</label>
                <p ng-if="activity.routeId"><a ng-href="https://www.strava.com/routes/{{activity.routeId}}" target="_blank">{{activity.routeName}}</a></p>
                <div ng-if="activity.activityType !== 'race'">
                    <div ng-if="activity.stages.length === 0 && !activity.routeId ">
                        <p style="color: red">You must have at least one stage or a route set, please add a stage or set the route for this ride</p>
                    </div>
                </div>
                <button class="btn btn-default" data-toggle="modal" data-target="#addRouteDialog" ng-click="showRoutes()">Set Route</button>
            </div>
            <div class="well">
                <div ng-if="activity.stages.length != 0">
                    <label>Timed Stages:</label>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Type</th>
                            <th>Activity</th>
                            <th>Dist.</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="stage in activity.stages | orderBy : 'number'">
                            <td style="vertical-align:center">{{stage.number}}</td>
                            <td style="vertical-align:center">{{stage.activity_type}}</td>
                            <td style="vertical-align:center"><a ng-href="https://www.strava.com/segments/{{stage.segmentId}}" target="_blank">{{stage.name}}</a></td>
                            <td style="vertical-align:center">{{stage.distance/1000 | number : 2}}km</td>
                            <td class="btn-group">
                                <button class="btn btn-default" ng-disabled="stage.number === 1" ng-click="moveStageUp(stage)"><span class="glyphicon glyphicon-arrow-up"></span></button>
                                <button class="btn btn-default" ng-disabled="stage.number === activity.stages.length" ng-click="moveStageDown(stage)"><span class="glyphicon glyphicon-arrow-down"></span></button>
                                <button class="btn btn-default" ng-click="deleteStage(stage)"><span class="glyphicon glyphicon-remove-circle"></span></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div ng-if="activity.activityType === 'race'">
                    <div ng-if="activity.stages.length === 0">
                        <p style="color: red">You must have at least one stage, please add a stage</p>
                    </div>
                </div>

                <div ng-if="activity.activityType !== 'race'">
                    <div ng-if="activity.stages.length === 0 && !activity.routeId ">
                        <p style="color: red">You must have at least one stage or a route set, please add a stage or set the route for this ride</p>
                    </div>
                </div>

                <p><label>Total Distance</label> {{activity.totalDistance/1000 | number : 2}}km</p>

                <button class="btn btn-default" data-toggle="modal" data-target="#addStageDialog" ng-click="showAddStage()">Add Stage</button>

            </div>
        </div>
    </div>

    <button ng-disabled ="activity.name === '' || (activity.stages.length === 0 && activity.activityType ==='race') || ((activity.stages.length === 0 && !activity.routeId) && activity.activityType !=='race') || activity.categories.length === 0" style="margin-top: 20px" class="btn btn-primary" ng-click="onApply()" data-toggle="modal" data-target="#createDialog"><% if(isCreating){%>
        Create Activity
        <% } else {%>
        Apply
        <%}%></button>
    <button type="button" class="btn btn-default" ng-click="back()" style="margin-top: 20px">Cancel</button>
</div>

<div  class="modal fade" id="addCategoryDialog" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Category {{ newCategory.name }}</h4>
            </div>
            <div class="modal-body" nm>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" ng-model="newCategory.name">
                </div>
            </div>
            <div class="modal-footer">
                <button ng-disabled="newCategory.name === ''" type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addCategory()">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addStageDialog" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Stage</h4>
            </div>
            <div class="modal-body" >
                <div class="inner-addon right-addon" style="width: 50%;margin-bottom: 20px">
                    <span class="glyphicon glyphicon-search"></span>
                    <input type="text" class="form-control" ng-model="stageSeachText">
                </div>
                <div ng-if="stages.length === 0">
                    <h5 style="height: 400px; text-align: center; vertical-align: middle"><i class="fa fa-refresh fa-spin" style="font-size:24px"></i> Loading...</h5>
                </div>
                <div style="height: 400px; overflow: scroll" ng-if="stages.length !== 0">
                    <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Type</th>
                        <th>Activity</th>
                        <th>Dist.</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="stage in stages | filter:{name:stageSeachText}" ng-click="selectStage(stage)" ng-class="stage == selectedStage | isStageSelected">
                        <td style="vertical-align:center"><span ng-if="stage == selectedStage" class="glyphicon glyphicon-ok"></span></td>
                        <td style="vertical-align:center">{{stage.activity_type}}</td>
                        <td style="vertical-align:center"><a ng-href="https://www.strava.com/segments/{{stage.segmentId}}" target="_blank">{{stage.name}}</a></td>
                        <td style="vertical-align:center">{{stage.distance/1000 | number : 2}}km</td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="getStages()">Refresh</button>
                <button type="button" ng-disabled="selectedStage === undefined"  class="btn btn-primary" data-dismiss="modal" ng-click="addStage()">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addRouteDialog" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select Route</h4>
            </div>
            <div class="modal-body" >
                <div class="inner-addon right-addon" style="width: 50%;margin-bottom: 20px">
                    <span class="glyphicon glyphicon-search"></span>
                    <input type="text" class="form-control" ng-model="routeSeachText">
                </div>
                <div ng-if="routes.length === 0">
                    <h5 style="height: 400px; text-align: center; vertical-align: middle"><i class="fa fa-refresh fa-spin" style="font-size:24px"></i> Loading...</h5>
                </div>
                <div style="height: 400px; overflow: scroll" ng-if="routes.length !== 0">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Type</th>
                            <th>Activity</th>
                            <th>Dist.</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="route in routes | filter:{name:routeSeachText}" ng-click="selectRoute(route)" ng-class="route == selectedRoute | isStageSelected">
                            <td style="vertical-align:center"><span ng-if="route == selectedRoute" class="glyphicon glyphicon-ok"></span></td>
                            <td ng-if="route.type === 1" style="vertical-align:center">Ride</td>
                            <td ng-if="route.type === 2" style="vertical-align:center">Run</td>
                            <td style="vertical-align:center"><a ng-href="https://www.strava.com/routes/{{route.id}}" target="_blank">{{route.name}}</a></td>
                            <td style="vertical-align:center">{{route.distance/1000 | number : 2}}km</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="checkbox">
                    <label class="checkbox"><input type="checkbox" ng-model="autoAddStages">Add Stages</label>
                </div>
                <button type="button" class="btn btn-default" ng-click="getRoutes()">Refresh</button>
                <button type="button" ng-disabled="selectedRoute === undefined"  class="btn btn-primary" data-dismiss="modal" ng-click="setRoute()">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createDialog" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body" >
                <h5 style="text-align: center; vertical-align: middle"><i class="fa fa-refresh fa-spin" style="font-size:24px"></i> Creating Activity...</h5>
            </div>
        </div>
    </div>
</div>

<% include partials/template/footer.ejs %>
<% include partials/template/jsdefaults.ejs %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-bootstrap-datetimepicker/1.0.1/js/datetimepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-bootstrap-datetimepicker/1.0.1/js/datetimepicker.templates.min.js"></script>

<% include ../controlers/edit_controler.ejs %>

</body>
</html>