<!DOCTYPE html>
<html>
<head>
    <% include partials/template/head.ejs %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-bootstrap-datetimepicker/1.0.1/css/datetimepicker.min.css">
</head>
<body ng-app="app" ng-controller="createControler">
<% include partials/template/header.ejs %>
<div class="container-fluid">
    <% if(isCreating){%>
    <h3>Create Race</h3>
    <% } else {%>
    <h3>Edit Race</h3>
    <%}%>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" ng-model="race.name">
                </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" rows="5" id="description" ng-model="race.description"></textarea>
            </div>
                <div class="form-group">
                    <label for="startTime">Start Time:</label>
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="startTimeDropDown" role="button" data-toggle="dropdown" data-target="#" href="#">
                            <div class="input-group"><input type="text" class="form-control" data-ng-model="race.startTime | date: 'short' "><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="race.startTime" data-datetimepicker-config="{ dropdownSelector: '#startTimeDropDown' }"/>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label for="endTime">End Time:</label>
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="endTimeDropDown" role="button" data-toggle="dropdown" data-target="#" href="#">
                            <div class="input-group"><input type="text" class="form-control" data-ng-model="race.endTime | date: 'short' "><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="race.endTime" data-datetimepicker-config="{ dropdownSelector: '#endTimeDropDown' }"/>
                        </ul>
                    </div>
                </div>
            <div class="form-group">
                <label for="privacy">Privacy:</label>
                <div class='input-group' id='privacy'>
                    <select class="form-control" id="privacy" ng-model="race.privaicy">
                        <option value="public">Public</option>
                        <option value="friends">Only Friends</option>
                    </select>
                </div>
            </div>
            <!--<div class="well">
                <label>Categories:</label>
                <div ng-if="race.categories.length != 0">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="category in race.categories">
                            <td style="vertical-align:center">{{category.name}}</td>
                            <td><a ng-if="race.categories.length != 1" ng-click="deleteCategory(category)">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                            </a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-default" data-toggle="modal" data-target="#addCategoryDialog" ng-click="showAddCategory()">Add Catagory</button>
            </div>-->
        </div>
        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
            <div class="well">
                <label>Stages:</label>
                <div ng-if="race.stages.length != 0">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Type</th>
                            <th>Activity</th>
                            <th>Dist.</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="stage in race.stages track by $index">
                            <td style="vertical-align:center">{{$index + 1}}</td>
                            <td style="vertical-align:center">{{stage.activity_type}}</td>
                            <td style="vertical-align:center"><a ng-href="{{ 'https://www.strava.com/segments/' + stage.id}}" target="_blank">{{stage.name}}</a></td>
                            <td style="vertical-align:center">{{stage.distance/1000 | number : 2}}km</td>
                            <td><a ng-if="race.stages.length != 1" ng-click="deleteStage(stage)">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-default" data-toggle="modal" data-target="#addStageDialog" ng-click="showAddStage()">Add Stage</button>
                <p><label>Total Distance</label> {{totalDistance/1000 | number : 2}}km</p>

            </div>
        </div>
    </div>

    <button ng-disabled ="race.name === '' || race.stages.length === 0 || race.categories.length === 0" style="margin-top: 20px" class="btn btn-primary" ng-click="onApply()"><% if(isCreating){%>
        Create Race
        <% } else {%>
        Apply
        <%}%></button>
    <button type="button" class="btn btn-default" ng-click="back()" style="margin-top: 20px">Cancel</button>
</div>

<div  class="modal fade" id="addCategoryDialog" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Category {{ newCategory.name }}</h4>
            </div>
            <div class="modal-body" nm>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" ng-model="newCategory.name">
                </div>
            </div>
            <div class="modal-footer">
                <button ng-disabled="newCategory.name === ''" type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addCategory()">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addStageDialog" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Stage</h4>
            </div>
            <div class="modal-body" >
                <div class="inner-addon right-addon" style="width: 50%;margin-bottom: 20px">
                    <span class="glyphicon glyphicon-search"></span>
                    <input type="text" class="form-control" ng-model="stageSeachText">
                </div>
                <div ng-if="stages.length === 0">
                    <h5 style="height: 400px; text-align: center; vertical-align: middle"><i class="fa fa-refresh fa-spin" style="font-size:24px"></i> Loading...</h5>
                </div>
                <div style="height: 400px; overflow: scroll" ng-if="stages.length !== 0">
                    <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Type</th>
                        <th>Activity</th>
                        <th>Dist.</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="stage in stages | filter:{name:stageSeachText}" ng-click="selectStage(stage)" ng-class="stage == selectedStage | isStageSelected">
                        <td style="vertical-align:center"><span ng-if="stage == selectedStage" class="glyphicon glyphicon-ok"></span></td>
                        <td style="vertical-align:center">{{stage.activity_type}}</td>
                        <td style="vertical-align:center"><a ng-href="{{ 'https://www.strava.com/segments/' + stage.id}}" target="_blank">{{stage.name}}</a></td>
                        <td style="vertical-align:center">{{stage.distance/1000 | number : 2}}km</td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="getStages()">Refresh</button>
                <button type="button" ng-disabled="selectedStage === undefined"  class="btn btn-primary" data-dismiss="modal" ng-click="addStage()">Add</button>
            </div>
        </div>
    </div>
</div>
<% include partials/template/footer.ejs %>
<% include partials/template/jsdefaults.ejs %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-bootstrap-datetimepicker/1.0.1/js/datetimepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-bootstrap-datetimepicker/1.0.1/js/datetimepicker.templates.min.js"></script>

<script type="text/javascript" src="/javascripts/category.js"></script>
<script type="text/javascript" src="/javascripts/stage.js"></script>
<script type="text/javascript" src="/javascripts/guid.js"></script>
<script type="text/javascript">
    var app = angular.module('app', [ 'ui.bootstrap.datetimepicker', 'ui.bootstrap', 'ngAnimate']);

    app.filter('isStageSelected',
            function() {
                return function(value) {
                    return value? "success" : "";
                };
            });

    app.controller('createControler', function($scope, $http) {
        $scope.race = <%- JSON.stringify(race)%>;
        $scope.stages = [];

        $scope.race.startTime = new Date($scope.race.startTime);
        $scope.race.endTime = new Date($scope.race.endTime);

        $scope.deleteCategory = function (cat) {
            arrayUtils.remove($scope.race.categories, cat);
        }

        $scope.deleteStage = function (stage) {
            arrayUtils.remove($scope.race.stages, stage);

            $scope.totalDistance = $scope.race.stages.reduce(function (total, item) {
                return total + item.distance;
            }, 0);
        }

        $scope.onApply = function () {
            <% if(isCreating){%>
            $http.put("/data/race", $scope.race)
            <% } else {%>
            $http.post("/data/race/" + $scope.race._id, $scope.race)
            <%}%>
                    .then(function(response) {
                        if(response.data)
                        {
                            location.replace("/race/details/" + response.data);
                        }
                    });
        };

        $scope.back = function () {
            <% if(isCreating){%>
                location.replace("/home");
            <% } else {%>
                location.replace("/race/details/" + $scope.race._id);
            <%}%>
        };

        $scope.showAddCategory = function () {
            $scope.newCategory = new category.Category(createGuid());
        };

        $scope.addCategory = function () {
            $scope.race.categories.push($scope.newCategory);
        };

        function GetStages(page)
        {
            $http.get("/strava/starredsegments/" + page)
                    .then(function(response) {
                        $scope.stages = $scope.stages.concat(response.data);

                        $scope.race.stages.forEach(function (stage)
                        {
                            arrayUtils.remove($scope.stages, stage);
                        });

                        if(response.data.length === 30)
                        {
                            page++;
                            GetStages(page);
                        }
                    });
        }

        $scope.getStages = function()
        {
            $scope.stages = [];
            GetStages(1);
        }

        $scope.showAddStage = function () {
            $scope.stageSeachText = undefined;
            $scope.selectedStage = undefined;
            if($scope.stages.length === 0)
            {
                $scope.getStages();
            }
        };

        $scope.addStage = function () {
            var newStage = new stage.Stage($scope.selectedStage.id);
            newStage.name = $scope.selectedStage.name;
            newStage.distance = $scope.selectedStage.distance;
            newStage.activity_type = $scope.selectedStage.activity_type;
            newStage.map = $scope.selectedStage.map;
            newStage.start_latlng = $scope.selectedStage.start_latlng;
            newStage.end_latlng = $scope.selectedStage.end_latlng;

            $scope.race.stages.push(newStage);
            arrayUtils.remove($scope.stages, $scope.selectedStage);

            $scope.totalDistance = $scope.race.stages.reduce(function (total, item) {
                return total + item.distance;
            }, 0);

            $http.get("/strava/segmentmap/" + $scope.selectedStage.id)
                    .then(function(response) {
                        newStage.map = response.data.map;
                    });
        };

        $scope.selectStage = function (stage) {
            $scope.selectedStage = stage;
        };
    });

</script>

</body>
</html>