<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->

<html>
  <head>
    <% include partials/template/head.ejs %>
    <% include partials/template/jsdefaults.ejs %>
    <script type="text/javascript">

      var $app = angular.module('app', []);

      $app.filter('rankToPannelType', function()
      {
        return function(rank) {
            if (!rank)
            {
              return "well activity-well";
            }
              if (rank == 1)
              {
                return "well activity-well panel-first";
              }

          if (rank == 2)
          {
            return "well activity-well panel-second";
          }

          if (rank == 3)
          {
            return "well activity-well panel-third";
          }

          return "well activity-well";
        };
      });

      $app.filter('activityTypeToIcon',
              function() {
                return function (value)
                {
                  return ActivityTypeToImage(value);
                };
              });

      $app.filter('activityTypeToString',
              function() {
                return function (value)
                {
                  return ActivityTypeToString(value);
                };
              });

      function padTime(t) {
        return t < 10 ? "0"+t : t;
      }

      $app.filter('secondsToTime', function() {
        return function(_seconds) {
          if (typeof _seconds !== "number" || _seconds < 0)
            return "DNS";

          var hours = Math.floor(_seconds / 3600);
          var minutes = Math.floor((_seconds % 3600) / 60)
          var seconds = Math.floor(_seconds % 60);

          if(hours === 0)
          {
            return padTime(minutes) + ":" + padTime(seconds);
          }
          else
          {
            return padTime(hours) + ":" + padTime(minutes) + ":" + padTime(seconds);
          }
        };
      });

      $app.filter('secondsToCountdown', function() {
        return function(_seconds) {
          if (typeof _seconds !== "number" || _seconds < 0)
            return "0m";

          var time = _seconds;
          time = Math.floor(time / 1000);
          time = Math.floor(time / 60);
          var minutes = Math.floor(time % 60);
          time = Math.floor(time / 60);
          var hours = Math.floor(time % 24);
          var days = Math.floor(time / 24);

          if(days === 0)
          {
            if(hours === 0)
            {
              return minutes + "m ";
            }
            else
            {
              return hours + "h " + padTime(minutes) + "m ";
            }
          }
          else
          {
            return days + "d " + padTime(hours) + "h " + padTime(minutes) + "m ";
          }
        };
      });
    </script>
  </head>
  <body>
    <% include partials/template/header.ejs %>
    <div class="container-fluid" ng-app="app" >
        <div class="row">
          <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
            <% include partials/template/actions.ejs %>

            <%if(firstCount !== 0 || secondCount !== 0 || thridCount !== 0 || finishedCount !== 0){%>
            <div class="panel panel-default">
              <div class="panel-heading" style="text-align: center" ><b>Achievements</b></div>
              <div class="panel-body">
                <%if(firstCount !== 0){%>
                <p><i class="fa fa-trophy" style="color: gold"></i> <%=firstCount%></p>
                <%}%>
                <%if(secondCount !== 0){%>
                <p><i class="fa fa-trophy" style="color: silver"></i> <%=secondCount%></p>
                <%}%>
                <%if(thridCount !== 0){%>
                <p><i class="fa fa-trophy" style="color: #8C7853"></i> <%=thridCount%></p>
                <%}%>
                <%if(finishedCount !== 0){%>
                <p><i class="fa fa-flag-checkered" aria-hidden="true"></i> <%=finishedCount%></p>
                <%}%>
              </div>
            </div>
            <%}%>

          </div>
          <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
            <div class="row">

              <%if(activitiesUpcoming.length != 0){%>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3 style="margin-top: 5px">Upcoming</h3>
                <% for(var i=0; i<activitiesUpcoming.length; i++) { var activity = activitiesUpcoming[i];%>
                <% include partials/content/activity_pannel.ejs %>
                <%}%>
              </div>
              <%}%>

              <%if(activitiesInProgress.length != 0){%>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3 style="margin-top: 5px">In Progress</h3>
                <% for(var i=0; i<activitiesInProgress.length; i++) { var activity = activitiesInProgress[i];%>
                <% include partials/content/activity_pannel.ejs %>
                <%}%>
              </div>

              <%}%>

              <%if(activitiesFinished.length != 0){%>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3 style="margin-top: 5px">Finished</h3>
              <% for(var i=0; i<activitiesFinished.length; i++) { var activity = activitiesFinished[i];%>
              <% include partials/content/activity_pannel.ejs %>
              <%}%>
              </div>
              <%}%>


            </div>
          </div>

        </div>
    </div>
    <% include partials/template/footer.ejs %>
  </body>
</html>
