<!DOCTYPE html>
<html>
<head>
    <% include partials/template/head.ejs %>
    <% include partials/template/jsdefaults.ejs %>
</head>
<body>
<% include partials/template/header.ejs %>
<div class="container-fluid">
    <%if(activities.length ===0){%>
    <div class="panel panel-warning">
        <div class="panel-heading"><h3>There are no activities available for you to join.</h3></div>
        <div class="panel-body">You should create a activity! You can do this by selecting Activities->Create in the menu</div>
    </div>
    <%}else{%>
    <h3>Activities available to join</h3>
    <% include partials/content/activity_list.ejs %>
    <%}%>
</div>
<% include partials/template/footer.ejs %>

</body>
</html>