<!DOCTYPE html>
<html>
<head>
    <% include partials/template/head.ejs %>
    <% include partials/template/jsdefaults.ejs %>
</head>
<body>
<% include partials/template/header.ejs %>
<div class="container-fluid"><%if(activities.length ===0){%>
    <div class="panel panel-warning">
        <div class="panel-heading"><h3>You have not created any activities.</h3></div>
        <div class="panel-body">You should create a activity! You can do this by selecting selecting 'Create' in the actions</div>
    </div>
    <%}else{%>
    <h2 style="margin-top: 0px">My created activities</h2>
    <% include partials/content/activity_list.ejs %>
    <%}%>
</div>
<% include partials/template/footer.ejs %>
</body>
</html>
