<div class="panel panel-default">
    <div class="panel-heading"><h4>Actions</h4></div>
    <div class="panel-body">
        <li><a href="/race/join">Join</a></li>
        <li><a href="/race/create">Create</a></li>
    </div>
</div>