<div class="panel panel-default">
    <div class="panel-heading"><h4>Actions</h4></div>
    <div class="panel-body list-group" style="padding: 0">
        <a href="/race/join" class="list-group-item">Join</a>
        <a href="/race/create" class="list-group-item">Create</a>
    </div>
</div>