<footer class="container-fluid">
    <h6><small>© Copyright 2016 Christiaan Burchell</small></h6>
</footer>

<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>