<title><%=titleText%>Strava Race</title>
<meta property="og:url"                content="http://www.strava-race.net" />
<meta property="og:type"               content="website" />
<meta property="og:title"              content="Strava Race" />
<meta property="og:description"        content="Join and create races based on Strava segments." />
<meta property="og:site_name"        content="Strava Race" />
<meta property="fb:app_id"        content="1204847022870716" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://use.fontawesome.com/3a216218fd.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css' />
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
