<div class="panel panel-default">
    <div class="panel-heading" style="text-align: center" ><b>Help</b></div>
    <div class="panel-body list-group" style="padding: 0">
        <a href="/faq" class="list-group-item">FAQs</a>
        <a href="/about" class="list-group-item">About</a>
    </div>
</div>