.affix  {
  top: 0;
  width: 100%;
}

.affix + .container-fluid {
  padding-top: 70px;
}

.btn {
  white-space: normal;
}

.poweredbystrava {
  background-image: url(../images/stravalogo.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 95px;
  height: 20px !important;
  margin: 15px 0 0 0px;
  text-indent: -10000px;
  padding: 0 !important;
  display: inline-block !important;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/*footer {
  position: fixed;
  height: 100px;
  bottom: 0;
  width: 100%;
  background-color: #EEE;
}*/

.poweredbywrapper {
    display: block;
    text-align: center;
    vertical-align: middle;
  }

.poweredbywrapper {
  vertical-align: bottom;
  margin-bottom: 2px;
  margin-left: 5px;
  color: #999999;
}

td {
   : middle;
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.panel-first>.rank>.fa {
  color: gold;
}

.panel-second>.rank>.fa {
  color: silver;
}

.panel-third>.rank>.fa {
  color: #8C7853;
}

.panel-heading {
  padding: 3px 10px;
}

.activity-well {
  padding: 3px 10px;
}

.activity-well>h4 {
  margin: 0px;
}

.details-well>h4 {
  margin: 5px 0px;
}

.details-well {
  padding: 3px 10px;
}
