<div ng-app="app" ng-controller="activityTableControler">
    <div class="inner-addon right-addon" style="width: 50%;margin-bottom: 20px">
        <span class="glyphicon glyphicon-search"></span>
        <input type="text" class="form-control" ng-model="seachText">
    </div>

    <% if( isActivityUpcoming && isActivityInProgress ||
            isActivityUpcoming && isActivityFinished ||
            isActivityFinished && isActivityInProgress){ %>
        <div class="btn-group">
            <label class="btn btn-primary" ng-model="activityFilter" uib-btn-radio="">All</label>
            <% if(isActivityUpcoming){ %>
            <label class="btn btn-primary" ng-model="activityFilter" uib-btn-radio="'upcoming'">Upcoming</label>
            <%}%>
            <% if(isActivityInProgress){ %>
            <label class="btn btn-primary" ng-model="activityFilter" uib-btn-radio="'in_progress'">In Progress</label>
            <%}%>
            <% if(isActivityFinished){ %>
            <label class="btn btn-primary" ng-model="activityFilter" uib-btn-radio="'finished'">Finished</label>
            <%}%>
        </div>
    <%}%>

    <table class="table table-striped"  >
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Creator</th>
            <th>Stages</th>
            <th>Length</th>
            <th>Start</th>
            <th>State</th>
            <th>Privacy</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="activity in activities | orderBy: 'startTime' : true | filter: {name:seachText, state:activityFilter}">
            <td><a ng-href="{{ '/activity/details/' + activity._id }}">{{activity.name}}</a></td>
            <td>{{activity.activityType}}</td>
            <td>{{activity.ownerName}}</td>
            <td>{{activity.stages.length}}</td>
            <td>{{activity.totalDistance/1000 | number : 2}} km</td>
            <td>{{ activity.startTime | date: 'short'}}</td>
            <td ng-if="activity.state === 'upcoming'">Starts in {{ activity.startsIn | date : 'd' : 'UTC'}}d {{ activity.startsIn | date: 'H': 'UTC'}}h {{ activity.startsIn | date: 'm': 'UTC'}}m</td>
            <td ng-if="activity.state === 'in_progress'">Time left: {{ activity.timeLeft | date : 'd' : 'UTC'}}d {{ activity.timeLeft | date: 'H': 'UTC'}}h {{ activity.timeLeft | date: 'm': 'UTC'}}m</td>
            <td ng-if="activity.state === 'finished'">Finished</td>
            <td>{{ activity.privaicy }}</td>
        </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript">

    var app = angular.module('app', ['ngAnimate', 'ui.bootstrap']);

    app.filter('duration',
            function() {
                return function(value) {
                    return value? "success" : "";
                };
            });

    app.controller('activityTableControler', function($scope) {
        $scope.activities = <%- JSON.stringify(activities) %>;
    });

</script>