<div ng-app="app" ng-controller="raceTableControler">
    <div class="inner-addon right-addon" style="width: 50%;margin-bottom: 20px">
        <span class="glyphicon glyphicon-search"></span>
        <input type="text" class="form-control" ng-model="seachText">
    </div>

        <div class="btn-group">
            <label class="btn btn-primary" ng-model="raceFilter" uib-btn-radio="">All</label>
            <label class="btn btn-primary" ng-model="raceFilter" uib-btn-radio="'upcommning'">Upcoming</label>
            <label class="btn btn-primary" ng-model="raceFilter" uib-btn-radio="'finshed'">Finished</label>
        </div>

    <table class="table table-striped"  >
        <thead>
        <tr>
            <th>Name</th>
            <th>Creator</th>
            <th>Stages</th>
            <th>Length</th>
            <th>Start time</th>
            <th>Time Left</th>
            <th>Privacy</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="race in races | filter:{name:seachText, state:raceFilter}">
            <td><a ng-href="{{ '/race/details/' + race._id }}">{{race.name}}</a></td>
            <td>{{race.ownerName}}</td>
            <td>{{race.stages.length}}</td>
            <td>{{race.totalDistance/1000 | number : 2}} km</td>
            <td>{{ race.startTime | date: 'short'}}</td>
            <td ng-if="!race.isFinished && !race.inProgress">Not Started</td>
            <td ng-if="!race.isFinished && race.inProgress">{{ race.timeLeft | date: 'd': 'UTC'}}d {{ race.timeLeft | date: 'H': 'UTC'}}h {{ race.timeLeft | date: 'm': 'UTC'}}m</td>
            <td ng-if="race.isFinished">Finished</td>
            <td>{{ race.privaicy }}</td>
        </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript">

    var app = angular.module('app', ['ngAnimate', 'ui.bootstrap']);

    app.filter('duration',
            function() {
                return function(value) {
                    return value? "success" : "";
                };
            });

    app.controller('raceTableControler', function($scope) {
        $scope.races = <%- JSON.stringify(races) %>;
        $scope.races.forEach(function (race) {
            race.totalDistance = race.stages.reduce(function (total, item) {
                return total + item.distance;
            }, 0);

            var endTime = new Date(race.endTime);
            var startTime = new Date(race.startTime);
            race.duration = endTime - startTime;
            race.timeLeft = endTime - Date.now();
            race.isFinished = race.timeLeft <= 0;
            race.inProgress = (race.startTime - Date.now()) <= 0 && !race.isFinished;
            race.state = race.isFinished? 'finshed' : 'upcommning';
        })

        $scope.isRaceFinished = $scope.races.some(function (item)
        {
            return item.isFinished;
        });

        $scope.isRaceUpcomming = $scope.races.some(function (item)
        {
            return !item.isFinished;
        });

    });

</script>