<div ng-app="app" ng-controller="raceTableControler">
    <div class="inner-addon right-addon" style="width: 50%;margin-bottom: 20px">
        <span class="glyphicon glyphicon-search"></span>
        <input type="text" class="form-control" ng-model="seachText">
    </div>

    <% if( isRaceUpcoming && isRaceInProgress ||
            isRaceUpcoming && isRaceFinished ||
            isRaceFinished && isRaceInProgress){ %>
        <div class="btn-group">
            <label class="btn btn-primary" ng-model="raceFilter" uib-btn-radio="">All</label>
            <% if(isRaceUpcoming){ %>
            <label class="btn btn-primary" ng-model="raceFilter" uib-btn-radio="'upcoming'">Upcoming</label>
            <%}%>
            <% if(isRaceInProgress){ %>
            <label class="btn btn-primary" ng-model="raceFilter" uib-btn-radio="'in_progress'">In Progress</label>
            <%}%>
            <% if(isRaceFinished){ %>
            <label class="btn btn-primary" ng-model="raceFilter" uib-btn-radio="'finished'">Finished</label>
            <%}%>
        </div>
    <%}%>

    <table class="table table-striped"  >
        <thead>
        <tr>
            <th>Name</th>
            <th>Creator</th>
            <th>Stages</th>
            <th>Length</th>
            <th>Start</th>
            <th>State</th>
            <th>Privacy</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="race in races | orderBy: 'startTime' : true | filter: {name:seachText, state:raceFilter}">
            <td><a ng-href="{{ '/race/details/' + race._id }}">{{race.name}}</a></td>
            <td>{{race.ownerName}}</td>
            <td>{{race.stages.length}}</td>
            <td>{{race.totalDistance/1000 | number : 2}} km</td>
            <td>{{ race.startTime | date: 'short'}}</td>
            <td ng-if="race.state === 'upcoming'">Starts in {{ race.startsIn | date : 'd' : 'UTC'}}d {{ race.startsIn | date: 'H': 'UTC'}}h {{ race.startsIn | date: 'm': 'UTC'}}m</td>
            <td ng-if="race.state === 'in_progress'">Time left: {{ race.timeLeft | date : 'd' : 'UTC'}}d {{ race.timeLeft | date: 'H': 'UTC'}}h {{ race.timeLeft | date: 'm': 'UTC'}}m</td>
            <td ng-if="race.state === 'finished'">Finished</td>
            <td>{{ race.privaicy }}</td>
        </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript">

    var app = angular.module('app', ['ngAnimate', 'ui.bootstrap']);

    app.filter('duration',
            function() {
                return function(value) {
                    return value? "success" : "";
                };
            });

    app.controller('raceTableControler', function($scope) {
        $scope.races = <%- JSON.stringify(races) %>;
    });

</script>